<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Statistics Test Page</title>
</head>

<body>

<div id="surround" align="center">
  <div id="container">
    <div id="clientHeader">&nbsp;</div>

    <div id="center">
      <h1>Statistics Test Page</h1>

      <table cellpadding="2" cellspacing="2" width="700">
	      <tr>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td colspan="3" align="center">Total</td>
	        <td colspan="3" align="center">Per Call</td>
        </tr>

        <tr>
	        <td></td>
          <td>Path</td>
          <td>Calls</td>
          <td>Wall Time</td>
          <td>User Time</td>
          <td>System Time</td>
          <td>Wall Time</td>
          <td>User Time</td>
          <td>System Time</td>
        </tr>

LOOP @full_path
        <tr class="value_table">
          <td>{@loop_number}</td>
          <td>{@full_path[]}</td>
          <td>{@calls_full_path[]}</td>
          <td>{@total_wall_time_full_path[]}</td>
          <td>{@total_user_time_full_path[]}</td>
          <td>{@total_sys_time_full_path[]}</td>
          <td>{@average_wall_time_full_path[]}</td>
          <td>{@average_user_time_full_path[]}</td>
          <td>{@average_sys_time_full_path[]}</td>
        </tr>
END_LOOP

        <tr>
        </tr>

LOOP @combined
        <tr class="value_table">
          <td>{@loop_number}</td>
          <td>{@combined[]}</td>
          <td>{@calls_combined[]}</td>
          <td>{@total_wall_time_combined[]}</td>
          <td>{@total_user_time_combined[]}</td>
          <td>{@total_sys_time_combined[]}</td>
          <td>{@average_wall_time_combined[]}</td>
          <td>{@average_user_time_combined[]}</td>
          <td>{@average_sys_time_combined[]}</td>
        </tr>
END_LOOP
      </table>  
    </div>
  </div>
</div>

</body></html>
